%footer
  #makersacademy-logo
    %a{ href: 'http://www.makersacademy.com' }
      %img{ src: 'http://www.makersacademy.com/assets/logo.png' }
  #colophon
    %p
      I built this page at 
      %a{ href: 'http://www.makersacademy.com' } Makers Academy
      &ndash; highly selective 12 week coding course in London.
    %p
      Built using Ruby, Sinatra, RSpec, Capybara, Cucumber, HTML and CSS.